*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

}
.header__nav img{
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;

}
.header__info ul{
    display: flex;

    column-gap: 40px;
    padding-top: 35px;
    color:  #274C5B;
    font-size: 20px;

}
.header__img img{
 width: 1520px;
margin-top: 50px;
}
.main__one {
    margin-top: 100px;
    display: flex;
}
.main__one img{
    margin-right: 40px;
    width: 850px;
    height: 690px;
}
.banner__text h3{
    color:#7EB693;
    font-size: 36px;
    padding: 15px;
    margin-right: 40px;
}
.banner__text h1{
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    width: 70%;
}
.banner__text p{
    color: #525C60;
    width: 65%;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 20px

}
.cards__one{
    column-gap: 40px;
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    align-items: center;

}
.left__card img{
    width: 51px;
    height: 48px;
}
.right__card img{
    width: 51px;
    height: 56px;
}
.right__card h4{
 color: #274C5B;
    font-size: 25px;
    width: 70%;
}
.left__card h2 {
    color: #274C5B;
    font-size: 25px;
    width: 70%;
}
.cards__one img{
    display: flex;
}
.banner__text button{
    display: flex;
    padding: 15px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 11px;
    background: #274C5B;
    color: white;
    margin-top: 50px;
}
.section__two{
    margin-top: 200px;
}
.main__two {
    display: flex;
}
.right__content img{
    width: 650px;
    height: 550px;
    margin-left: 50px;
}
.left__content img{
    width: 195px;
    height: 50px;
    margin-top: 15px;
}
.left__content h5{
    color: #7EB693;
    font-size: 30px;
    margin-bottom: 10px;
}
.left__content h1 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    width: 90%;
}
.left__content p{
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    width: 95%;
    margin-top: 20px;
}
.image img{
    margin-top: 50px;
}
.section__fore h4{
    color: #7EB693;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 580px;
}
.section__fore img {
    width: 1229px;
    height: 680px;
}
.section__fore h6{
    color: #274C5B;
    font-size: 40px;
    text-align: center;
}
.section__fore {
    margin-top: 250px;
}
.section__fore p{
    color: #525C60;
    width: 65%;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-top: 6px;
    padding: 20px;
}
.footer__one {
    background: #274C5B;
    margin-top: 100px;
    padding: 130px 160px;
}
.footer__one img{
    width: 1162px;
    height: 362px;
}
.footer__one h3{
    color: #7EB693;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
.footer__one h1{
    color:white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}
.newsslatteer {
    background:url("Background (1).png") center / cover no-repeat ;
    margin-top: 150px;
    padding: 100px 200px;
    color: white;
    font-size: 30px;
    width: 74%;
}



.footer{
    padding: 85px 0 60px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer__contact{
    width: 230px;
    text-align: right;
    font-family: "Roboto",sans-serif;
    color: rgba(82, 92, 96, 1);;
}
.footer__contact li{
    margin-bottom: 25px;
}
.contact{
    font-size: 30px;
    font-weight: 700;
}

.footer__text{
    display: block;
    font-weight: 700;
}
.footer__logo{
    text-align: center;
    width: 480px;
    color:  #525C60;
}
.footer__image{
    display: flex;
    align-items: center;
    column-gap: 7px;
    justify-content: center;
    margin-bottom: 26px;
    font-family: Roboto,sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__image h2{
    font-family: Roboto,sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__image img{
    width: 36px;
    height: 53px;
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 50px;
}
.footer__icon{
    width: 60px;
    height: 60px;
    background: #EFF6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer__pages{
    width: 230px;
}
.utility{
    font-family: Roboto,sans-serif;
    font-size: 30px!important;
    font-style: normal!important;
    font-weight: 700 !important;
    line-height: normal;
}
.footer__pages li{
    color: #525C60;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 232.9%
}